{% extends 'login/index.html.twig' %}

{% block title %}ELVTD Finance - Passwort vergessen{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #eae8e1 !important; width: 100%; height: 100vh; overflow: initial !important;
        }
        .registration ul {
            margin: 0;
            color: red;
            font-size: 14px;
            float: right;
            max-width: 75%;
        }
        .registration li {
            list-style-type: none;
            text-align: right;
            width: 100%;
        }
    </style>
    <div class="row">
        <div class="card" style="background-image: linear-gradient(180deg, #f9f7f6 0%, rgba(247, 244, 242, 50%) 80%); box-shadow: 0px 2px 15px 15px rgba(0, 0, 0, 0.05);">
            <div class="card-body mx-2 mt-3">
                <h2 class="mb-2 text-center"><img src="{{ asset('assets/img/elvtd_logo.png') }}" width="150"></h2>
                <h4 class="text-center">Passwort vergessen</h4>
                <hr>
                {% for flash_message in app.flashes('success') %}
                    <div class="alert alert-success">{{ flash_message }}</div>
                {% endfor %}
                {% for flash_message in app.flashes('danger') %}
                    <div class="alert alert-danger">{{ flash_message }}</div>
                {% endfor %}

                <form method="post" action="{{ path('app_forgot_password') }}">
                    <div class="form-group">
                        <label for="email">Email Addresse</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>

                    <a href="{{ path('app_login') }}" class="btn btn-simple mt-3 float-start">Zurück zum Login</a>
                    <button type="submit" class="btn btn-primary float-end mt-3">Bestätigungs-Email senden</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}