{% extends 'login/index.html.twig' %}

{% block title %}ELVTD Finance - Registrieren{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #eae8e1 !important; width: 100%; height: 100vh; overflow: initial !important;
        }
        .registration ul {
            margin: 0;
            color: red;
            font-size: 14px;
            float: right;
            max-width: 75%;
        }
        .registration li {
            list-style-type: none;
            text-align: right;
            width: 100%;
        }
    </style>
    <div class="row">
        <div class="card" style="background-image: linear-gradient(180deg, #f9f7f6 0%, rgba(247, 244, 242, 50%) 80%); box-shadow: 0px 2px 15px 15px rgba(0, 0, 0, 0.05);">
            <div class="card-body mx-2 mt-3">
                <h2 class="mb-2 text-center"><img src="{{ asset('assets/img/elvtd_logo.png') }}" width="50"></h2>
                <h3 class="text-center">REGISTRIEREN</h3>

                {{ form_start(form) }}
                <div class="form-group mt-0">
                    {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mt-3">
                    {{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mt-3">
                    {{ form_row(form.lastname, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mt-3">
                    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mt-3">
                    {{ form_row(form.password.first, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group mt-3">
                    {{ form_row(form.password.second, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_row(form.recaptcha) }}
                <p class="mt-3">
                    Du hast bereits einen Account?
                    <a href="{{ path('app_login') }}" class="text-decoration-underline">Jetzt einloggen</a>
                </p>
                <button class="btn btn-dark btn-block mt-3 float-end w-50 w-md-25">Registrieren</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}