{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <h3 class="float-sm-start">Deine Orders</h3>
    <div class="container-fluid mt-5 card">
        <table class="table align-items-center mb-0">
            <thead>
            <tr>
                <th>Ticket</th>
                <th>Account</th>
                <th>Symbol</th>
                <th>CMD</th>
                <th>Volume</th>
                <th>Price</th>
                <th>Status</th>
                <th>Open Time</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.ticket }}</td>
                    <td>{{ order.login }}</td>
                    <td>{{ order.symbol }}</td>
                    <td>{{ order.cmd == 1 ? 'Buy' : 'Sell' }}</td>
                    <td>{{ order.volume }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.state == 2 ? 'Geschlossen' : 'Offen' }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}