<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Neue Ticket wurde erstellt</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #eae8e1;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            background-color: #eae8e1;
            color: #ffffff;
            text-align: center;
            padding: 20px;
            border-radius: 8px 8px 0 0;
        }
        .header img {
            max-width: 150px; /* Anpassbare Größe des Logos */
            height: auto;
        }
        .content {
            padding: 20px;
            color: #333333;
            background-color: #eae8e1;
        }
        .footer {
            text-align: center;
            font-size: 12px;
            color: #777777;
            padding: 10px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #43a047;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <img src="https://app.elvtdfinance.com/assets/img/elvtd_logo.png" alt="ELVTD Finance Logo">
    </div>
    <div class="content">
        <p>Hallo {{ user.username }},</p>
        <p>Ein neues Ticket wurde erstellt:</p>
        <ul>
            <li><strong>Ticket ID:</strong> #{{ ticket.id }}</li>
            <li><strong>Betreff:</strong> {{ ticket.title }}</li>
            <li><strong>Beschreibung:</strong> {{ ticket.description }}</li>
            <li><strong>Status:</strong> {{ ticket.status }}</li>
            <li><strong>Erstellt am:</strong> {{ ticket.createdAt|date('d.m.Y H:i:s') }}</li>
        </ul>
        <p><a href="{{ url('app_helpdesk_show', {'id': ticket.id}) }}" class="button">Zum Ticket</a></p>
        <p>Bei weiteren Fragen stehen wir gerne jederzeit zur Verfügung unter: <a href="mailto:support@elvtdfinance.com">support@elvtdfinance.com</a>.</p>
    </div>
    <div class="footer">
        <p>© 2025 ELVTD Finance. All rights reserved.</p>
    </div>
</div>
</body>
</html>