{% extends 'base.html.twig' %}

{% block title %}Helpdesk FAQ{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="mt-4 mb-4">Help Center</h3>
        {#<div class="row">
            {% for category in categories %}
                <div class="col-md-4 mb-4">
                    <div class="card text-center" style="height: 250px;">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <i class="material-symbols-rounded mt-5 mb-3" style="font-size: 40px;">{{ category.logo ?: 'help' }}</i>
                            <h5 class="card-title mt-2">{{ category.title }}</h5>
                            <a href="{{ path('app_helpdesk_faq_category', {'id': category.id}) }}" class="btn btn-primary mt-auto">View Posts</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>#}
    </div>
    <hr>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h6 class="float-start">Deine Tickets</h6>
                <a href="{{ path('app_helpdesk_new') }}" class="btn btn-primary float-end">Neues Ticket</a>
            </div>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Titel</th>
                    <th>Status</th>
                    <th>Erstellt am</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.title }}</td>
                        <td>
                            {% if ticket.status == 'open' %}offen{% endif %}
                            {% if ticket.status == 'in_progress' %}wird bearbeitet{% endif %}
                            {% if ticket.status == 'closed' %}geschlossen{% endif %}
                        </td>
                        <td>{{ ticket.createdAt|date('d.m.Y H:i:s') }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <form action="{{ path('app_helpdesk_change_state', {'id': ticket.id}) }}" method="POST" style="display:inline;">
                                    <select name="state" onchange="this.form.submit()">
                                        <option value="open" {% if ticket.status == 'open' %}selected{% endif %}>offen</option>
                                        <option value="in_progress" {% if ticket.status == 'in_progress' %}selected{% endif %}>wird bearbeitet</option>
                                        <option value="closed" {% if ticket.status == 'closed' %}selected{% endif %}>geschlossen</option>
                                    </select>
                                </form>
                                <form action="{{ path('app_helpdesk_delete', {'id': ticket.id}) }}" method="POST" style="display:inline;" onsubmit="return confirm('Bist du dir sicher, dass du dieses Ticket löschen möchtest?');">
                                    <button type="submit" class="btn btn-sm btn-outline-none text-dark px-3 mb-0">Löschen</button>
                                </form>
                            {% endif %}
                            <a href="{{ path('app_helpdesk_show', {'id': ticket.id}) }}" class="btn btn-sm btn-dark px-3 mb-0 float-end">Ansehen</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}