{% extends 'base.html.twig' %}

{% block title %}Helpdesk - Ticket #{{ ticket.id }}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="mt-4 mb-4">Help Center</h3>
        <div class="card">
            <div class="card-header">
                <h4 class="float-start">
                    Ticket #{{ ticket.id }}: {{ ticket.title }}<br>
                    <small>{{ ticket.user.firstname }} {{ ticket.user.lastname }} ({{ ticket.user.username }})</small><br>
                    <span style="font-size: 14px; font-weight: normal">{{ ticket.createdAt|date('d.m.Y H:i:s') }}</span>
                </h4>
                <span class="float-end badge badge-sm bg-gradient-success"> {{ ticket.status }}</span>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        {{ ticket.description|nl2br }}
                    </div>
                </div>

                <h6 class="mt-5">Antworten</h6>
                {% if ticket.comments|length > 0 %}
                    {% for comment in ticket.comments %}
                        <div class="card mb-3">
                            <div class="card-header">
                                <strong>{{ comment.user.firstname }} {{ comment.user.lastname }}</strong> - <span style="font-size: 14px; font-weight: normal">{{ comment.createdAt|date('d.m.Y H:i:s') }}</span>
                            </div>
                            <div class="card-body">
                                {{ comment.content|nl2br }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Ihr Ticket befindet sich derzeit in der Warteschlange. Die Antwortzeit beträgt in der Regel ca. 24 Stunden.</p>
                {% endif %}

                <h6 class="mt-5">Antwort hinzufügen</h6>
                <form method="post" action="{{ path('app_helpdesk_comment', {'id': ticket.id}) }}">
                    <div class="form-group">
                        <label for="content">Antwort</label>
                        <textarea name="content" id="content" class="form-control" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Antwort hinzufügen</button>
                </form>

                <a href="{{ path('app_helpdesk_index') }}" class="btn btn-outline-none mt-3">Zurück zur Übersicht</a>
            </div>
        </div>
    </div>
{% endblock %}